name: Swift

on:
  push:
    branches:
      master
  pull_request:
    branches:
      master

jobs:
  build:
    runs-on: macOS-latest
    steps:
      - name: Test
        uses: actions/checkout@v1
      - name: Build and Test
        run:  xcodebuild -project todo.xcodeproj -scheme todoUITests -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.4' build test